name: CI
on:
    push:
        branches:
            - main
    pull_request:

jobs:
    build-for-automerge:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 24
            - run: npm ci
            - run: npm run build
            - name: Install Playwright Browsers
              run: npx playwright install
            - run: npm test

    automerge:
        needs: build-for-automerge
        runs-on: ubuntu-latest

        permissions:
            pull-requests: write
            contents: write

        steps:
            - uses: fastify/github-action-merge-dependabot@v3
